<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/admin.css">
    <link rel="stylesheet" href="resources/public/css/editar.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">

    <title>Editar Producto</title>
</head>

<body>
    <header>
        <div class="encabezado">
            <div class="imgClass">
                <img src="resources/img/Tumaco/logo1-removebg-preview.png" alt="">
            </div>
            <a href="admin_usuarios" class="btn__reserva">Volver</a>
            <a href="logout" class="btn__reserva">Salir</a>
        </div>
    </header>
    <main class="container">
        <section class="card cadastro">
            <div class="signupFrm">
                <form action="/guardar_edicion" method="POST" class="form" id="update-product-form">
                    <h1 class="title">Editar Usuario</h1>
                    <div class="inputContainer">
                        <input type="text" class="input" value="<%= usuario.id_usuario %>" name="id">
                        <label for="" class="label">ID</label>
                    </div>
                    <div class="inputContainer">
                        <input type="text" class="input" value="<%= usuario.nombre %>" name="nombre">
                        <label for="" class="label">Nombre</label>
                    </div>

                    <div class="inputContainer">
                        <input type="text" class="input" value="<%= usuario.correo %>" name="correo">
                        <label for="" class="label">Correo</label>
                    </div>

                    <div class="inputContainer">
                        <input type="text" class="input" value="<%= usuario.contrasena %>" name="contrasena">
                        <label for="" class="label">Contraseña</label>
                    </div>
                    <div class="inputContainer">
                        <input type="text" class="input" value="<%= usuario.rol %>" name="rol">
                        <label for="" class="label">rol</label>
                    </div>

                    <div class="inputContainerButton">
                        <input type="submit" class="submitBtn" value="Actualizar">

                    </div>
                </form>
            </div>
        </section>
    </main>
</body>
</html>