<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="resources/img/Tumaco/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="resources/css/admin/usuarios/usuarios.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/admin/admin.css">
    <script src="https://kit.fontawesome.com/b049437614.js" crossorigin="anonymous"></script>

    <title>Administrador</title>

</head>

<body>
    <header>
        <div class="encabezado">
            <div class="imgClass">
                <img src="resources/img/Tumaco/logo.png" alt="">
            </div>
            <a href="admin_usuarios.php" class="btn__User">Usuarios</a>
            <a href="#" class="btn__reserva">Reservas</a>
            <a href="logout" class="btn__reserva">Salir</a>
        </div>
    </header>
    <main>
        <h2>Bienvenido! Administrador1</h2>
        <div class="contenido">
            <div class="imgClass">
                <img src="resources/img/reserva.svg" alt="" srcset="">
            </div>
            <div class="tabla">
                <table>
                    <thead>
                        <form action="" class="buscador" id="form" style="padding: 15px;">
                            <div class="search-container">
                                <input type="text" placeholder="¿Que desea buscar?" class="search-input">
                                <button class="search-button"><i class="fa fa-search"></i></button>
                            </div>

                        </form>
                        <caption style="padding: 30px 0">Lista de Usuarios Registrados</caption>
                        <tr>
                            <th>ID reserva</th>
                            <th>ID Usuaeio</th>
                            <th>ID Habitacion</th>
                            <th>Fecha de LLegada</th>
                            <th>Fecha de Salida</th>
                            <th>Precio Total</th>
                            <th colspan="2">Opciones</th> <!-- Columna unida que contiene dos columnas más -->
                        </tr>
                    </thead>
                    <tbody>
                        <% reservas.forEach(reserva=> { %>
                            <tr>
                                <td>
                                    <%= reserva.id_reserva %>
                                </td>
                                <td>
                                    <%=reserva.id_usuario%>
                                </td>
                                <td>
                                    <%=reserva.id_habitacion%>
                                </td>
                                <td>
                                    <%=reserva.fecha_llegada %>
                                </td>
                                <td>
                                    <%=reserva.fecha_salida%>
                                </td>
                                <td>
                                    <%=reserva.precio_total%>
                                </td>
                                <td><a href="/admin_edicionReservas/<%= reserva.id_reserva %>"
                                        class="btn__edit">Editar</a></td>
                                <td><a href="/eliminar_usuario_reserva/<%= reserva.id_reserva %>"
                                        class="btn__delete">Eliminar</a></td>

                            </tr>
                            <% }); %>
                                <!-- Más filas de datos -->
                    </tbody>
                </table>

            </div>
            <div class="table">
                <div class="search-container">
                    <input type="text" placeholder="¿Que desea buscar?" class="search-input">
                    <button class="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
                <% reservas.forEach(reserva=> { %>
                    <div class="item">
                        <div class="row">
                            <div class="thead">ID Reserva</div>
                            <div class="tbody">
                                <%= reserva.id_reserva %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="thead">ID usuario</div>
                            <div class="tbody">
                                <%= reserva.id_usuario %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="thead">ID Habitacion</div>
                            <div class="tbody">
                                <%= reserva.id_habitacion %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="thead">Fecha LLegada</div>
                            <div class="tbody">
                                <%= reserva.fecha_llegada %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="thead">Fecha Salida</div>
                            <div class="tbody">
                                <%= reserva.fecha_salida %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="thead">Precio Total</div>
                            <div class="tbody">
                                <%= reserva.precio_total %>
                            </div>
                        </div>

                    </div>
                    <% }); %>
            </div>
        </div>
    </main>
    <footer>
        <div class="contenido__footer">
            <p>Desarrollado por: equipo 1 Aunar xd</p>
            <div class="redes">
                <a href="https://github.com/Dann-13/Hotel_Sistema_php"><i class="fa-brands fa-github"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
            </div>
        </div>
    </footer>
</body>

</html>