<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/admin/admin.css">
    <link rel="stylesheet" href="/resources/css/admin/editar.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b049437614.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <title>Editar Reserva Admin</title>
</head>

<body>
    <header>
        <div class="encabezado">
            <div class="imgClass">
                <img src="/resources/img/Tumaco/logo.png" alt="">
            </div>
            <a href="logout" class="btn__reserva">Salir</a>
        </div>
    </header>
    <main class="container">
        <section class="card cadastro">
            <div class="signupFrm">
                <form action="/guardar_edicionReserva" method="POST" class="form" id="update-product-form">
                    <h1 class="title">Editar Reserva</h1>
                    <div class="inputContainer">
                        <input type="text" class="input" value="<%= reserva[0].id_reserva %>" name="id">
                        <label for="" class="label">ID</label>
                    </div>
                    <div class="inputContainer">
                        <input type="text" class="input" value="<%= reserva[0].id_usuario %>" name="usuario">
                        <label for="" class="label">Usuario ID</label>
                    </div>

                    <div class="inputContainer">
                        <input type="text" class="input" id="habitacion_seleccionada"
                            value="<%= reserva[0].id_habitacion %>" name="habitacion">
                        <label for="" class="label">Habitacion ID</label>
                    </div>

                    <div class="inputContainer">
                        <input type="text" class="input" id="fecha_llegada"
                            value="<%= reserva[0].fecha_llegada.getFullYear() + '-' + (reserva[0].fecha_llegada.getMonth() + 1) + '-' + reserva[0].fecha_llegada.getDate() %>"
                            name="fecha_llegada" data-habitaciones="<%- habitaciones %>">
                        <label for="" class="label">Fecha de llegada</label>
                    </div>
                    <div class="inputContainer">
                        <input type="text" class="input" id="fecha_salida"
                            value="<%= reserva[0].fecha_salida.getFullYear() + '-' + (reserva[0].fecha_salida.getMonth() + 1) + '-' + reserva[0].fecha_salida.getDate() %>"
                            name="fecha_salida">
                        <label for="" class="label">Fecha de Salida</label>
                    </div>
                    <div class="inputContainer">
                        <input type="text" class="input" id="precio_total" value="<%= reserva[0].precio_total %>"
                            name="precio_total">
                        <label for="" class="label">Precio Total</label>
                    </div>

                    <div class="inputContainerButton">
                        <input type="submit" class="submitBtn" value="Actualizar">

                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenido__footer">
            <p>Desarrollado por: equipo 1 Aunar xd</p>
            <div class="redes">
                <a href="https://github.com/Dann-13/Hotel_Sistema_php"><i class="fa-brands fa-github"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
            </div>
        </div>
    </footer>
    <!-- Esript que actualizara el precio total de la reserva segun se seleccione las fecha y el precio por
    noche que tenga cada habitacion -->

    <script>

        const fechaLlegadaInput = document.getElementById("fecha_llegada");
        const fechaSalidaInput = document.getElementById("fecha_salida");
        const habitacion_seleccionada = document.getElementById('habitacion_seleccionada');
        const precioTotalInput = document.getElementById('precio_total');


        fechaLlegadaInput.addEventListener("change", function () {
            valor();
        });

        fechaSalidaInput.addEventListener("change", function () {
            valor();
        });

        habitacion_seleccionada.addEventListener('change', function () {
            valor();
        })
        // Ejemplo de uso de las fechas fuera de las funciones
        function valor() {
            const fechaLlegada = fechaLlegadaInput.value;
            const fechaSalida = fechaSalidaInput.value;
            const id_habitacionInput = habitacion_seleccionada.value;
            console.log(id_habitacionInput);
            const fechaLlegadatransformada = new Date(fechaLlegada);
            const fechaSalidatransformada = new Date(fechaSalida);
            const diferenciaTiempo = fechaSalidatransformada.getTime() - fechaLlegadatransformada.getTime();
            const dias = Math.ceil(diferenciaTiempo / (1000 * 60 * 60 * 24));

            console.log("Diferencia en días:", dias);
            // Obtén las habitaciones directamente en el archivo EJS
            const habitaciones = JSON.parse('<%- JSON.stringify(habitaciones) %>');
            console.log(habitaciones);

            const habitacionEncontrada = habitaciones.find(habitacion => habitacion.id_habitacion == id_habitacionInput);

            if (habitacionEncontrada) {
                const precioNoche = habitacionEncontrada.precio_noche;
                precioTotal = precioNoche * dias;
                precioTotalInput.value = precioTotal;
                console.log(precioTotal);
            } else {
                console.log("No se encontró la habitación con ID", id_habitacionInput);
            }

        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/resources/js/admin/calendario.js"></script>
</body>

</html>