<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Mis reservas</title>
  <link rel="stylesheet" href="resources/css/admin/admin.css">
  <link rel="stylesheet" href="resources/css/estilos_usuarios.css">
  <script src="https://kit.fontawesome.com/b049437614.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="resources/img/Tumaco/logo1-removebg-preview.png" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>

  <header>
    <div class="encabezado">
      <div class="imgClass">
        <img src="resources/img/Tumaco/logo.png" alt="">
      </div>
      <a href="reserva" class="btn__User">Reservar</a>
      <a href="listado_reserva" class="btn__reserva">Mirar mis reservas</a>
      <a href="/" class="btn__reserva">Salir</a>
    </div>
  </header>

  <div class="container text-center">
    <div class="contenedor">
      <% if (login) {%>
        <main>
          <h2 class="name">Bienvenido <%= nombre %> a tu listado de reservas!
          </h2>
          <div class="contenido">
            <div class="tabla">
              <table>
                <thead>
                  <tr>
                    <th>id_reserva </th>
                    <th>id_usuario</th>
                    <th>id_habitacion</th>
                    <th>Fecha entrada</th>
                    <th>Fecha salida</th>
                    <th>Precio</th>
                    <th colspan="2">Opciones</th> <!-- Columna unida que contiene dos columnas más -->
                  </tr>
                </thead>
                <tbody>
                  <% listado.forEach(listado=> { %>
                    <tr>
                      <td>
                        <%= listado.id_reserva %>
                      </td>
                      <td>
                        <%=listado.id_usuario%>
                      </td>
                      <td>
                        <%=listado.id_habitacion%>
                      </td>
                      <td>
                        <%=listado.fecha_llegada%>
                      </td>
                      <td>
                        <%=listado.fecha_salida%>
                      </td>
                      <td>
                        <%=listado.precio_total%>
                      </td>
                      <td><a href="/user_edicionReserva/<%= listado.id_reserva %>"
                        class="btn__edit">Editar</a></td>
                      <td>
                        <a href="/eliminarReservaUsuario/<%= listado.id_reserva %>" class="btn__delete">Eliminar</a>
                      </td>
                    </tr>
                    <% }); %>
                      <!-- Más filas de datos -->
                </tbody>
              </table>
    
            </div>
        </main>
    
    
        <!--Mensaje de Regstro extoso-->
        <% } else {%>
          <h1>Inicie sesion</h1>
          <h1><strong>
              <%= name %>
            </strong></h1>
          <a href="login_register" class="a-login">Ir a Login</a>
          <% } %>
    </div>

  <footer>
    <div class="contenido__footer">
      <p>Desarrollado por: equipo 1 Aunar xd</p>
      <div class="redes">
        <a href="https://github.com/Dann-13/Hotel_Sistema_php"><i class="fa-brands fa-github"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
      </div>
    </div>
  </footer>


</html>