<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="resources/img/Tumaco/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="resources/css/login_register.css">


    <title>Bienvenidos</title>
</head>

<body>

    <div class="container__Principal">
        <div class="imagen__fondo">
            <img src="resources/img/fondo.png" alt="fondo" srcset="">
        </div>
        <section class="left">


            <section class="lado-login">
                <div id="logo">
                    <a href="/"><img src="resources/img/Tumaco/logo.png" alt="Hotel Playa Cristal"></a>
                </div>
                <p class="title">¿No Tienes una Cuenta?</p>
                <p>Puedes registrate dando click al siguiente boton!</p>
                <button class="btn__registro">Registro</button>
                <div class="imgSecciones">
                    <img src="resources/img/recepcion.png" alt="recepcion">
                </div>

            </section>
            <section class="main-register">
                <div class="container">
                    <h1>Register</h1>
                    <form action="login_register" method="POST">
                        <div class="form-control">
                            <input type="email" placeholder="Correo" name="correo">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="form-control">
                            <input type="password" placeholder="Contraseña" name="contrasena">
                            <i class="fas fa-unlock"></i>
                        </div>
                        <div class="form-control">
                            <input type="text" placeholder="Nombre" name="nombre">
                            <i class="fa-solid fa-signature"></i>
                        </div>
                        <select name="rol" id="rol" >
                            <option value="admin">Administrador</option>
                            <option value="data-entry">Usuario</option>
                        </select>
                        <button type="submit">Registro</button>
                    </form>
                </div>
            </section>
        </section>
        <section class="right">
            <section class="lado-registro">
                <p class="title">¿Ya estas Registrado?</p>
                <p>Regresa e inicia secion con tu usuario y conteaseña</p>
                <button class="btn__login">Login</button>
                <div class="imgSecciones">
                    <img src="resources/img/login.png" alt="" srcset="">
                </div>
            </section>
            <section class="main-login">
                <div class="container">
                    <h1>Login</h1>
                    <form action="auth" method="POST">
                        <div class="form-control">
                            <input type="text" name="correo" id="user" placeholder="Usuario">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="form-control">
                            <input type="password" name="pass" id="pass" placeholder="Contraseña">
                            <i class="fas fa-unlock"></i>
                        </div>
                        <button type="submit">Entrar</button>
                    </form>
                </div>
            </section>
        </section>

    </div>
    <script src="resources/js/login_register.js"></script>
    <script src="https://kit.fontawesome.com/b049437614.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

     <!--Para poder usar el alert en la platilla de ejs-->
     <% if (typeof alert1 !="undefined" ) { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon%>',
                showConfirmButton:<%= showConfirmButton %>,
                timer: <%= timer %>
                    }).then(() => {
                    window.location = '/<%= ruta %>'
                })
        </script>
        <% } %>
        <% if (typeof alert2 !== 'undefined') { %>
            <script>
                Swal.fire({
                    title: '<%= alertTitle %>',
                    text: '<%= alertMessage %>',
                    icon: '<%= alertIcon %>',
                    showConfirmButton: <%= showConfirmButton %>,
                    timer: <%= timer %>
                }).then(() => {
                    window.location = 'reserva<%= ruta %>'
                })
            </script>
        <% } %>
        <% if (typeof alert3 !== 'undefined') { %>
            <script>
                Swal.fire({
                    title: '<%= alertTitle %>',
                    text: '<%= alertMessage %>',
                    icon: '<%= alertIcon %>',
                    showConfirmButton: <%= showConfirmButton %>,
                    timer: <%= timer %>
                }).then(() => {
                    window.location = 'admin<%= ruta %>'
                })
            </script>
        <% } %>
</body>

</html>