<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Reservas usuario </title>
  <link rel="stylesheet" href="resources/css/admin/admin.css">
  <link rel="stylesheet" href="resources/css/estilos_usuarios.css">
  <link rel="stylesheet" href="resources/css/usuario/reserva.css">
  <link rel="shortcut icon" href="resources/img/Tumaco/logo.png" type="image/x-icon">
  <script src="https://kit.fontawesome.com/b049437614.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body>

  <header>
    <div class="encabezado">
      <div class="imgClass">
        <img src="resources/img/Tumaco/logo.png" alt="">
      </div>
      <a href="reserva" class="btn__User">Reservar</a>
      <a href="listado_reserva" class="btn__reserva">Mirar mis reservas</a>
      <a href="logout" class="btn__User">Cerrar sesión</a>
    </div>
  </header>
  <% if (login) {%>
    <div class="contenedor">
      <div class="container__info">
        <div class="container__bienvenida">
          <h1>¡Explora y reserva tu estancia en un solo lugar!</h1>
          <p>Bienvenido a nuestra plataforma aqui encontraras las habitaciones que 
            tenemos disponibles!
          </p>
          <p>Usuario conectado: <strong>
              <%= nombre %>
            </strong></p>
          <div class="img">
            <img src="resources/img/reserva.svg" alt="">
          </div>
        </div>


        <form action="reserva" method="POST">
          <div class="form-container">
            <div class="img">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/User_icon-cp.svg/1200px-User_icon-cp.svg.png" class="img2">
            </div>
            <select class="form-select" aria-label="Default select example" name="id_habitacion"
              id="habitacion_seleccionada">
              <option selected>Tipo de reserva</option>
              <option value="1">
                <%= habitacion[0].tipo %>
              </option>
              <option value="2">
                <%= habitacion[1].tipo %>
              </option>
              <option value="3">
                <%= habitacion[2].tipo %>
              </option>
            </select>
            <div class="inputContainer">
              <input type="text" class="input" id="id_usuario" value="<%= id_usuario %>" name="id_usuario" readonly>
              <label for="" class="label">id usuario ID</label>
            </div>

            <div class="col" style="margin-top: 20px;">
              <div class="inputContainer">
                <input type="text" class="input" id="fecha_llegadaUser" name="fecha_llegada">
                <label for="" class="label">Fecha de llegada</label>
              </div>
            </div>
            <div class="inputContainer">
              <input type="text" class="input" id="fecha_salidaUser" name="fecha_salida">
              <label for="" class="label">Fecha de Salida</label>
            </div>
            <div class="inputContainer">
              <input type="text" class="input" id="precio_total" name="precio_total">
              <label class="label">Precio Total</label>
            </div>
            <div class="inputContainerButton">
              <input type="submit" class="submitBtn" value="Agendar">
            </div>
            
          </div>
        </form>
      </div>
    </div>



    <% } else {%>
      <h1>Inicie sesion</h1>
      <h1><strong>
          Por favor inicie session
        </strong></h1>
      <a href="login" class="a-login">Ir a Login</a>
      <% } %>
        </div>
        <footer>
          <div class="contenido__footer">
            <p>Desarrollado por: equipo 1 Aunar xd</p>
            <div class="redes">
              <a href="https://github.com/Dann-13/Hotel_Sistema_php"><i class="fa-brands fa-github"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
            </div>
          </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="/resources/js/admin/calendario.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>

          const fechaLlegadaInput = document.getElementById("fecha_llegadaUser");
          const fechaSalidaInput = document.getElementById("fecha_salidaUser");
          const habitacion_seleccionada = document.getElementById('habitacion_seleccionada');
          const precioTotalInput = document.getElementById('precio_total');


          fechaLlegadaInput.addEventListener("change", function () {
            valor();
          });

          fechaSalidaInput.addEventListener("change", function () {
            valor();
          });

          habitacion_seleccionada.addEventListener('change', function () {
            valor();
          })
          // Ejemplo de uso de las fechas fuera de las funciones
          function valor() {
            const fechaLlegada = fechaLlegadaInput.value;
            const fechaSalida = fechaSalidaInput.value;
            const id_habitacionInput = habitacion_seleccionada.value;
            console.log(id_habitacionInput);
            const fechaLlegadatransformada = new Date(fechaLlegada);
            const fechaSalidatransformada = new Date(fechaSalida);
            const diferenciaTiempo = fechaSalidatransformada.getTime() - fechaLlegadatransformada.getTime();
            const dias = Math.ceil(diferenciaTiempo / (1000 * 60 * 60 * 24));

            console.log("Diferencia en días:", dias);
            // Obtén las habitaciones directamente en el archivo EJS
            const habitaciones = JSON.parse('<%- JSON.stringify(habitacion) %>');
            console.log(habitaciones);

            const habitacionEncontrada = habitaciones.find(habitacion => habitacion.id_habitacion == id_habitacionInput);


            if (habitacionEncontrada) {
              const precioNoche = habitacionEncontrada.precio_noche;
              precioTotal = precioNoche * dias;
              precioTotalInput.value = precioTotal;
              console.log(precioTotal);
            } else {
              console.log("No se encontró la habitación con ID", id_habitacionInput);
            }

          }
        </script>
        <% if (typeof alert !== 'undefined') { %>
          <script>
            Swal.fire({
              title: '<%= alertTitle %>',
              text: '<%= alertMessage %>',
              icon: '<%= alertType %>',
              showConfirmButton: true
            });
          </script>
          <% } %>          
</body>

</html>